<<<<<<< HEAD
@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
=======
@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
>>>>>>> 31fa7ec72b6e1b1c488724a37ff29f580eeceb72
